@import url('https://fonts.googleapis.com/css?family=Righteous');

:root {
  --text: rgb(240,240,240);
  --backgroundOffset: 0%;
  --slideY: 0;
}

html{
    transition: all 2s;
}
/* Bsic HTML Styling - Need to move vars to root and refer to them correctly*/

body{
--background: rgb(44, 130, 89);  
--darkbackground: rgb(30,79,51);
--highlight: rgb(255, 232, 29);
    line-height: 2;
    font-size: 20px;
    font-family: 'Righteous', sans-serif;
    margin:0;
    padding:0;
    min-width: 700px; /* Only responsive to 700px wide sorry old phone people;*/
    background: var(--background);
    color: var(--text);
    transition: all 500ms linear;
    cursor: default;
}

h1,h2,h3, h4{
    color: var(--highlight);
    padding: 0 10% 0 10%;
}
h2{
    line-height: 1.5;
}
h3{
    font-size: 24px;
    text-align: center;
}
h4{
    color: var(--text);  
}
p{
    font-family: Arial,Verdana, Geneva, Tahoma, sans-serif;
}
a{
   color: var(--highlight);
   text-decoration: #272727;
}
.tiny{
    font-size: 0.5em;
}

/* Class Styles */

/* The big picture splash thingy  */
.header{
    position: relative;
    height: 600px;
    width:100%;
    overflow: hidden;
    display:flex;
}

.hero{
    position: absolute;
    text-align: right;
    width: 100%;
    top: 50px;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.hero-image{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 600px;
    transition: all 500ms;
}

.hero1{
     background: url("../images/hero1.svg");
     background-size: cover;
     background-position: bottom left;
     left: 0%;
}
.hero2{
     background: url("../images/hero2.svg");
     background-size: cover;
     background-position: bottom left;
     left: 100%;
}
.hero3{
     background: url("../images/hero3.svg");
     background-size: cover;
     background-position: bottom left;
     left:200%;
}

.hero-text{
    font-size: 2em;
    padding-right: 10%;
}   

.hero-line{
    background:rgba(0,0,0,0.2);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

/* Navigation Classes */

nav{
    background: var(--background);
    margin: 30px 0 10px 0;
    display:flex;
    justify-content: center;
    align-items: center;  
    height: 50px;
    top: 10px;
    position: sticky;
    z-index: 1;
    transition: all 500ms linear;
}
nav ul{
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    list-style: none;
    min-width: 40%;
    max-width: 80%;
    text-shadow: black;
}

nav li:hover{
  transform: scale(1.5);
  transition: all 300ms ease-in-out; 
}
nav li{
  transition: all 300ms ease-in-out; 
  padding-right: 10px;
}

/* Main Content Classes */

.site-wrap{
    max-width: 1440px;
    margin: 0 auto; 
    position: relative;
}
.site-wrap > * {
    transition: left 500ms ease-in-out;;
}

.me-parent{
    display:block;
}
.projects-parent{
    display: none;
}
.origin-parent{
    display:none;
}
.section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2% 2% 5px;
    min-height: 400px;
}   

.sidebox {
    height: 250px;
    width: 250px;
    background:var(--highlight);
    margin: 0 auto;
    box-shadow: 10px 20px var(--darkbackground);
    border-radius: 100%;
}


.textbox {
    display:flex;
    width: 60%;
    height: 80%;
    background: rgba(0,0,0,0.2);
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px 0;
    box-shadow: 10px 20px var(--darkbackground);
    border-radius: 20px;
}

.rightbox{
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
}
.leftbox{
    padding-right: 20px;
    padding-left: 10px; 
    text-align: right;
}

.sidepic {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.skills-slider{
    background: white url(../images/skills.png);
    height:100%;
    width:100%;
    border-radius: 100%;
    transition: all 500ms ease-in-out;
    background-position-y: var(--slideY);
}

.social a{
    padding-right: 5px;
}
.centerbox{
    width: 75%;
    margin: 0 auto;
    min-height: 100px;
    text-align: center;
    padding-left:10px;
    padding-right: 10px;
}

.social >*:hover{
    transform: scale(1.5);
    transition: transform 300ms ease-in-out
}
.social >*{position: relative;
    transition: transform 300ms ease-in-out
}

.highlight{
    position: absolute;
    border: 5px solid var(--highlight);
    top: -20px;
    height: 90px;
    width: 200px;
    left: 150%;
    transition: 500ms all;
    border-radius: 20px;
}